.collection {
  padding-bottom: 239px;
  background: url(../images/v1.png) no-repeat bottom center/ contain;
  & > h5 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height, or 140% */

    text-align: center;

    color: #222222;
  }
  & > h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 58px;
    /* identical to box height, or 90% */

    text-align: center;

    color: #222222;
    margin: 5px;
    margin-bottom: 90px;
  }

  & > .collection__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    & > .collection__block__texts {
      max-width: 374px;
      width: 95%;
      margin: 15px;

      & > :nth-child(3) {
        border: none !important;
      }
    }

    & > img {
      max-width: 621px;
      width: 90%;
    }
  }
}
