* {
  margin: 0;
  padding: 0;
}

.App {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  background-color: #ffffff;
  overflow: hidden;
}

body {
  background-color: #e5e5e5;
}
@font-face {
  font-family: "Montserrat";
  src: url(./Components/fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Open Sans";
  src: url(./Components/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}

@media screen and (max-width: 940px) {
  .App {
    & > .rarity {
      & > .rarity__user {
        padding-right: 0;
        justify-content: space-evenly;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .App {
    & > .header {
      padding-left: 10px;
      padding-right: 10px;

      justify-content: space-evenly;
    }

    & > .top {
      background-position: bottom;
      & > .top__text {
        margin-top: 10px;
        padding-top: 30px;

        & > h1 {
          font-size: 30px;
        }

        & > p {
          margin-top: 15px;
        }
      }
    }

    & > .collection {
      padding-bottom: 50px;
      & > h2 {
        font-size: 30px;
        margin-bottom: 15px;
      }
    }

    & > .rarity {
      padding-top: 50px;

      .rarity__header {
        padding-bottom: 20px;
        & > h2 {
          font-size: 30px;
        }
      }
    }

    & > .roadmap {
      padding-top: 70px;
      padding-bottom: 70px;
      & > h2 {
        font-size: 30px;
      }

      & > .roadmap__block {
        & > .roadmap__block__text {
          max-width: 400px;
          padding-left: 50px;

          & > h3 {
            font-size: 12px;
          }
          & > h2 {
            font-size: 25px;
            margin-bottom: 10px;
          }

          & > p {
            font-size: 12px;
          }
        }
      }
    }

    & > .team {
      padding-top: 50px;
      padding-bottom: 50px;

      & > h2 {
        font-size: 30px;
      }
    }

    & > .faq {
      padding-top: 50px;
      padding-bottom: 50px;

      & > h2 {
        font-size: 25px;
      }

      & > .faq__question {
        & > p {
          font-size: 15px;
        }
      }
    }

    & > .footer {
      & > div {
        & > .footer__head {
          & > h2 {
            font-size: 30px;
            margin-bottom: 0;
          }
        }
        & > .footer__links {
          & > .ul1 {
            flex-direction: column;
          }
        }
      }
    }
  }
}
